@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
}

.detail-loading-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: aliceblue;
    height: calc(100vh - 70px);
    width: 100%;
}

.detail-loading-inside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    width: 20%;
}

.detail-container{
    background-color: #121212;
    padding: 0px 300px 0px 300px;
    min-height: calc(100vh - 70px);
}


.detail-user-info-msg {
    color: aliceblue;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 500;
}

.detail-user-info-msg .bi-box-seam-fill {
    color: #c176de;
}

.detail-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.word-heart-chat {
    color: aliceblue;
    width: 600px;
    height: 600px;
    position: relative;
}

.date-viewer-category-type {
    display: flex;
    margin-bottom: 15px;
    font-weight: 300;
}

.date-viewer-category-type .date, .viewer, .category {
    margin-right: 25px;
}

.slider {
    position: relative;
}

.slide {
    opacity: 0;
    transition: 1s ease;
}

.slide.active {
    height: 600px;
    opacity: 1;
}

.image {
    width: 600px;
    height: 600px;
    border-radius: 10px;
}

.title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.price {
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 30px;
}

.content-information {
    font-size: 32px;
    width: 100%;
    border-bottom: 1px solid rgb(109, 109, 109);
    padding-bottom: 10px;
}

.content {
    padding-top: 10px;
    font-size: 20px;
    white-space: pre-line;
}

.swiper-pagination {
    position: absolute;
    text-align: center;
    width: 100%;
    bottom: -30px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #e6e6e6;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.dot.active {
    background-color: #00c7ef;
}


.left-arrow, .right-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 32px;
    color: aliceblue;
    background-color: transparent;
    border: none;
    cursor: pointer;
    padding: 10px;
    z-index: 10;
    transition: none;
}

.left-arrow:hover, .right-arrow:hover {
    color: rgb(131, 131, 131);
}

.left-arrow {
    left: 32px;
}

.right-arrow {
    right: 32px;
}

.otherOnSale {
    color: aliceblue;
    margin-top: 250px;
    font-size: 2.2rem;
    font-weight: 500;
}