@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
}

.rev-auction-detail-loading-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: aliceblue;
    height: calc(100vh - 70px);
    width: 100%;
}

.rev-auction-detail-loading-inside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    width: 20%;
}

.rev-auction-detail-container{
    background-color: #121212;
    padding: 0px 300px 100px 300px;
    height: auto;
}

.rev-auction-detail-user-info-msg {
    color: aliceblue;
    padding-top: 30px;
    margin-bottom: 30px;
    font-size: 2.2rem;
    font-weight: 500;
}

.rev-auction-detail-user-info-msg .bi-box-seam-fill {
    color: #c176de;
}

.rev-auction-detail-page {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rev-auction-detail-img-space {
    width: 600px;
    height: 600px;
}

.rev-auction-detail-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.rev-auction-detail-explanation {
    color: aliceblue;
    width: 600px;
    height: 600px;
}

.rev-auction-detail-date-and-viewer {
    display: flex;
    margin-bottom: 15px;
    font-weight: 300;
}

.rev-auction-detail-title {
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 15px;
}

.rev-auction-detail-date-and-viewer .date, .viewer {
    margin-right: 25px;
}

.rev-auction-detail-desiredPrice-and-time {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}

.rev-auction-detail-desiredPrice-and-time > .desiredPrice {
    font-size:1.4rem;
    font-weight: 600;
    padding-right: 15px;
    border-right: 2px solid rgb(109, 109, 109);
    vertical-align: middle;
}

.rev-auction-detail-content-information {
    font-size: 1.8rem;
    width: 100%;
    border-bottom: 1px solid rgb(109, 109, 109);
    padding-bottom: 10px;
}

.rev-auction-detail-content {
    height: 323px;
    padding-top: 10px;
    font-size: 1rem;
    white-space: pre-line;
}

.bid-list-title {
    color: aliceblue;
    padding: 30px 0px 15px 0px;
}

.bid-list-title > .bid-list-title-span {
    font-size: 1.4rem;
}

.bid-list-table-title {
    color: aliceblue;
    width: 100%;
    display: flex;
    font-size: 1.1rem;
    border-top: 1px solid rgb(109, 109, 109);
    border-bottom: 1px solid rgb(109, 109, 109);
    padding: 5px 0px 5px 0px;
}


.bid-list-table-title .bid-person-title-width-47, .bid-price-title-width-47 {
    width: 47%;
    text-align: center;
}
.bid-list-table-title .bid-person-title-width-50, .bid-price-title-width-50 {
    width: 50%;
    text-align: center;
}


.bid-person-and-price {
    color: aliceblue;
    margin-top: 10px;
    display: flex;
}


.bid-person-and-price .bid-person-width-47, .bid-price-width-47 {
    width: 47%;
    text-align: center;
}
.bid-person-and-price .bid-person-width-50, .bid-price-width-50 {
    width: 50%;
    text-align: center;
}


.bidders-empty-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 315px;
    color: aliceblue;
    font-size: 2rem;
    font-weight: 500;
    background-color: rgb(137, 136, 134);
    border-radius: 7px;
    margin-top: 15px;
    opacity: 0.5;
}

.award {
    width: 6%;
}

.award > .award-btn {
    width: 100%;
    padding: 5px;
    font-weight: 600;
    border: none;
    background-color: #b37fc8;
    cursor: pointer;
}