@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.store-page-container {
    font-family: "Noto Sans KR", sans-serif;
    background-color: #121212;
    color: aliceblue;
    padding: 0px 330px 0px 330px;
    min-height: calc(100vh - 70px);
}

.store-page-screen {
    padding-top: 50px;
}

.store-page-name {
    border-radius: 25px;
    background-color: #848282;
    font-size: 2rem;
    padding: 30px;
    display: flex;
    margin-bottom: 50px;
}

.user-image {
    margin-right: 30px;
}

.user-image i {
    padding: 10px 20px 10px 20px;
    background-color: rgb(171, 171, 214);
}

.store-page-products {
    position: relative;
    width: 100%;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 486px;
}

.store-page-products-grid {
    display: grid;
    grid-template-columns: repeat(4, 250px);
    justify-content: space-between;
    margin-top: 25px;
    height: auto;
    row-gap: 40px;
    padding-bottom: 171px;
}

.store-loading-msg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    color: aliceblue;
    height: calc(100vh - 70px);
    width: 100%;
}

.store-loading-inside {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: 1.5rem;
    width: 20%;
}

.empty-msg {
    font-size: 1.5rem;
}

/* 탭 관련 */
.tab-titles {
    width: 100%;
    list-style: none;
    padding: 0;
    display: flex;
    margin: 0;
    border-bottom: 1px solid gray;
}
  

.tab-titles li {
    position: relative;
    cursor: pointer;
    padding: 16px 0px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    flex-basis: calc(1260px / 6);
    color: rgb(132, 133, 133);
    transition: color 0.3s;
}

.tab-titles li::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;
    background-color: #34bed9; 
    transition: visibility 0s, width 0.4s ease;
    visibility: hidden;
}

.tab-titles li.active {
    color: rgb(247, 247, 247); 
}

.tab-titles li.active::after {
    visibility: visible;
    width: 100%;
}

/* -----------------------------*/


