@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
  font-family: "Noto Sans KR", sans-serif;
}

.rev-auction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  min-height: calc(100vh - 70px);
  padding: 0px 400px 0px 400px;
}

.rev-auction-screen {
  width: 100%;
  padding: 32px;
  background-color: #202124;
  border-radius: 5px;
}

.rev-auction-title {
  color: aliceblue;
}
.rev-auction-title h1 {
  margin-top: 0px;
}

.rev-auction-input-space {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.rev-auction-input-image {
  width: 45%;
}

.img-file-selector {
  height: 500px;
  border: 1px solid rgb(72, 72, 72);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  font-size: 7rem;
  color: #646568;
}

input[type='file'] {
  display: none;
}

.rev-auction-preview-img {
  width: 45%;
  position: relative;
  height: 500px;
  border-radius: 5px;
  overflow: hidden;
}

.rev-auction-preview-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.rev-auction-preview-img i {
  position: absolute;
  top: 2px; 
  right: 7px;
  color: rgb(227, 226, 226);
  cursor: pointer;
  font-size: 1.2rem;
}

.rev-auction-input-text {
  width: 50%;
}

.rev-auction-product-name {
    margin-bottom: 20px;
}

.rev-auction-product-name input {
    width: 100%;
    box-sizing: border-box;
    padding: 16px;
    font-size: 100%;
    background: none;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    color: whitesmoke;
}

.rev-auction-price-and-time {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.rev-auction-product-price input {
  padding: 15px;
  font-size: 100%;
  background: none;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 5px;
  color: whitesmoke;
}

.rev-auction-product-time {
  width: 50%;
}

.rev-auction-product-time select {
  width: 100%;
  padding: 15px;
  font-size: 100%;
  background-color: #202124;
  border: 1px solid rgb(72, 72, 72);
  border-radius: 5px;
  color: whitesmoke;
}

.rev-auction-product-content {
  height: 54%;
}

.rev-auction-product-content textarea {
    font-size: 100%;
    width: 100%;
    height: 100%;
    resize: none;
    padding: 16px;
    background: none;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    color: whitesmoke;
    box-sizing: border-box;
}

.submit_btn > button {
  width: 100%;
  font-weight: 600;
  font-size: 100%;
  padding: 16px 32px 16px 32px;
  border-radius: 5px;
  cursor: pointer;
}