@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #121212;
    min-height: calc(100vh - 70px);
}

.screen {
    display: flex;
    flex-direction: column;
    width: 55%;
    padding: 32px;
    background-color: #202124;
    border-radius: 5px;
}

.upload_image {
    display: flex;
}

.real_fileSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
}

.real_fileSelector > label {
    margin-bottom: 5px;
}

.real_fileSelector p {
    margin: 0;
    color: rgb(72, 72, 72);
    font-family: "Noto Sans KR", sans-serif;
    font-size: 100%;
    font-weight: 600;
}

.real_fileSelector i {
    font-size: 2rem;
    color: #646568;
}

input[type='file'] {
    display: none;
}

.uploaded_image {
    display: flex;
    overflow-x: auto; /* 가로 방향으로 스크롤 생성 */
    overflow-y: hidden; /* 세로 방향으로는 숨김 */
}

.uploaded_image_value {
    position: relative;
    flex-shrink: 0;
    width: 100px;
    height: 100px;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    margin-right: 10px;
    overflow: hidden;
}

.uploaded_image_value img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} 

.uploaded_image_value > i {
    position: absolute;
    top: 7px; 
    right: 10px;
    color: rgb(227, 226, 226);
    cursor: pointer;
    font-size: 1.2rem;
}

.screen .product_name, .price_category, .textarea, .submit_btn {
    margin-top: 20px;
}

.product_name input {
    width: 100%;
    padding: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 100%;
    box-sizing: border-box;
    background: none;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    color: whitesmoke;
}

.price_category {
    display: flex;
    justify-content: space-between;
}

.price_category input {
    width: 550px;
    padding: 16px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 100%;
    background: none;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    color: whitesmoke;
}

.price_category select {
    font-family: "Noto Sans KR", sans-serif;
    font-size: 100%;
    padding: 16px;
    background-color: #202124;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    color: whitesmoke;
}

.price_category button {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 100%;
    padding: 16px 32px 16px 32px;
    border-radius: 5px;
}

.selected {
    background-color: rgb(44, 207, 44);
    color: #ffffff;
    cursor: pointer;
}

.textarea textarea{
    font-size: 100%;
    width: 100%;
    height: 230px;
    resize: none;
    font-family: "Noto Sans KR", sans-serif;
    padding: 16px;
    box-sizing: border-box;
    background: none;
    border: 1px solid rgb(72, 72, 72);
    border-radius: 5px;
    color: whitesmoke;
}

.submit_btn > button {
    font-family: "Noto Sans KR", sans-serif;
    font-weight: 600;
    font-size: 100%;
    padding: 16px 32px 16px 32px;
    border-radius: 5px;
    cursor: pointer;
}
