@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

* {
    font-family: "Noto Sans KR", sans-serif;
}

.rev-auction-card {
    width: 250px;
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
    background-color: #202124;
    color: hsl(0, 0%, 93%);
    margin-right: 79px;
    font-size: 20px;
    cursor: pointer;
}

.rev-auction-card-img {
    width: 100%;
    height: 168px;
}

.rev-auction-card-img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.rev-auction-card-content {
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.rev-auction-card-price {
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px;
}

.rev-auction-card-upload-date {
    margin-bottom: 10px;
}

.rev-auction-card-upload-date, .rev-auction-card-remain-time {
    font-size: 14px;
}

.rev-auction-card-delete {
    color: rgb(209, 55, 55);
    display: flex;
    justify-content: center;
    padding: 5px;
    background-color: rgb(226, 219, 221);
    border-radius: 0px 0px 5px 5px;
}

.rev-auction-card-delete:hover {
    color: rgb(217, 93, 93);
    cursor: pointer;
}


.rev-auction-card-delete > .trash-btn > .bi.bi-trash {
    font-size: 1.2rem;
}