@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.register_page_background {
    width: 100%;
    min-height: calc(100vh - 70px);
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.register_form_screen {
    background-color: #202124;
    width: 480px;
    border-radius: 15px;
    padding: 32px;
    box-sizing: border-box;
}

.register_form_screen_inside {
    width: 100%;
    height: 100%;
}

.register_form_screen_inside_top {
    width: 100%;
    display: flex;
    font-size: 40px;
    align-items: center;
    justify-content: center;
    font-family: "Noto Sans KR", sans-serif;
    color: white;
}

.top_logo {
    padding-top: 10px;
    margin-right: 10px;
}

.register_form_input {
    text-align: left;
    width: 100%;
    color: white;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 20px;
}

.email-input-div {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.code-check-space {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.register_form_input div {
    margin-bottom: 16px;
}

.register_form_input input {
    width: 100%;
    height: 53px;
    background-color: #000000;
    border: none;
    border-radius: 4px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    padding: 16px;
    color: white;
    box-sizing: border-box;
}

.register_form_input .warn_msg {
    font-size: 0.7em;
    color: rgb(244, 63, 94);
}

.input-error {
    border-radius: 5px;
    border: 1px solid rgb(244, 63, 94);
}

.email-input-div .email-input-error {
    border-radius: 5px;
    border: 1px solid rgb(244, 63, 94);
    margin-bottom: 0px;
    width: 300px;
}

.email-input-div .email-input-normal {
    margin-bottom: 0px;
    width: 300px;
}

.email-input-div .rand_num_send_div {
    margin-bottom: 0px;
}

.code-check-space .code-input-div {
    margin-bottom: 0px;
    width: 300px;
}

.code-check-space .code-check-div {
    margin-bottom: 0px;
}

.rand_num_send_btn {
    padding: 16px;
    cursor: pointer;
    border: 1px solid #bfb9b9;
    border-radius: 5px;
}

.code-check-btn {
    padding: 16px;
    cursor: pointer;
    border: 1px solid #bfb9b9;
    border-radius: 5px;
}

.email-timer {
    font-size: 1rem;
    color: rgb(244, 63, 94);
}

.register_btn {
    width: 100%;
    height: 53px;
    border-radius: 4px;
    background-color: #3255BE;
    font-family: "Noto Sans KR", sans-serif;
    color: #FFFFFF;
    font-size: 14px;
    cursor: pointer;
    border: 0;
    margin-top: 10px;
}

.disabled_btn {
    width: 100%;
    height: 53px;
    border-radius: 4px;
    font-family: "Noto Sans KR", sans-serif;
    font-size: 14px;
    cursor: not-allowed;
    border: 0;
    margin-top: 10px;
    background-color: rgb(108, 108, 108);
}

.register_btn:hover {
    background-color: #3b57ac;
}